*, *::after, *::after {
    box-sizing: border-box;
}

body {
    background-color: #2146AE;
    margin: 0;
    padding: 0;
}

.results-container{
    top:20vh;
    width: 100vw;
    height: 110%;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.title {
    left: 10vw;
    position: absolute;
    h1{
        font-size: 60px;
        margin-top: 10px;
        font-family: sans-serif;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
}

.results{
    height: 60vh;
    align-items: center;
}

.retry-button {
    position: absolute;
    left: 10vw;
    top: 30vh;
    padding: 10px 60px;
    background: white;
    font-size: 30px;
    border: 1px solid #2146AE;
    border-radius: 5px;
    color: #2146AE;
}

.retry-button:hover {
    background-color: #2146AE;
    border: 1px solid black;
    color: white;
}

@media (max-width: 1100px) {
    .results-container{
        top:14vh;
    }
    body {
        overflow: scroll;
    }
    .title {
        position: static;
    }
    .retry-button {
        position: absolute;
        top: 250px;
        left: calc(50% - 130px);
        padding: 5px 20px;
        background: white;
        font-size: 20px;
    }
}