*, *::after, *::after {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.quiz-full-container {
    position: absolute;
    top: 0;
    background-color: white;
    width: 85vw;
    height: 100vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questions-container {
    width: 50vw;
    position: relative;
    
    .qnumber {
        font-size: 30px;
        color: #2146AE;
        font-family:'Times New Roman', Times, serif;
    }
    .question {
        font-size: 50px;
        font-family:Arial, Helvetica, sans-serif;
    }
}


.answers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh 2vw;
    // background-color: #2146AE;
    button {
        width: 24vw;
        height: 8vh;
        margin-top: 1vh;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 0;
        font-size: 24px;
    }
    button:focus {
        background-color: #2146AE;
        color: white;
    }
    button:hover {
        background-color: #2146AE;
    }
}

.next-button {
    background-color: #2146AE;
    border: 1px solid black;
    position: relative;
    top: 20px;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 24px;
}

.next-button:hover {
    background-color: black;
    color: #2146AE;
}

@media (max-width:800px) {
    .questions-container {
        width: 50vw;
        position: relative;
        .qnumber {
            font-size: 30px;
            color: #2146AE;
            font-family:'Times New Roman', Times, serif;
        }
        .question {
            font-size: 30px;
            font-family:Arial, Helvetica, sans-serif;
        }
    }
    .answers-container {
        button {
            font-size: 20px;
        }
    }
    .next-button {
        position: relative;
        top: 20px;
        width: 100px;
        height: 5vh;
        border-radius: 10px;
        font-size: 20px;
    }
}