*, *::after, *::after {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.progress-bar {
    top: 0;
    background-color: white;
    width: 15vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-buttons {
        display: flex;
        flex-direction: column;
        :hover {
            background-color: white;
            color: #2146AE;
        }
        button {
            font-size: 20px;
            background-color: #2146AE;
            color: white;
            width: 200px;
            height: 50px;
            border: 1px solid black;
            margin-top: 15px;
        }
    }


@media (max-width: 500px) {
    .progress-buttons {
        button {
            margin-top: 10px;
            height: 40px;
        }
    }
}