*, *::after, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #2146AE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 12vh;
    padding: 0 100px;
    img{
        width: 200px;
    }
    .name-email {
        display: flex;
        h1{
        padding: 0 15px;
        font-size: 20px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        }
    }
}

@media (max-width:800px) {
    .navbar {
        padding: 0 10px;
        img {
            width: 100px;
        }
        .name-email {
            h1{
            padding: 0 15px;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            }
            .name-nav {
                position: relative;
                left: 2vw;
            }
        }
    }
}